.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  gap: 8px;
  margin: auto;
  width: fit-content;
  margin-bottom: 20px;

  button {
    background-color: paleturquoise;
    height: 40px;
    width: 44px;
    border: none;
    border-radius: 3px;
    box-shadow: inset;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.calclator {
  margin: auto;
  display: flex;
  justify-content: center;

  .container {
    max-width: 200px;

  }
}

.inputText {
  margin-bottom: 15px;

  input {
    width: 100%;
  }
}

input {
  appearance: none;
  background: #f1f1f1;
  border: 1px solid gray;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  padding: 5px;
  margin: 0;
}